<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstName</key>
	<string>Test Profile 1</string>
	<key>image</key>
	<string>smartcalling.png</string>
	<key>modifiedDate</key>
	<date>2017-11-23T00:37:58Z</date>
	<key>numbers</key>
	<array>
		<string>1111111</string>
        <string>2222222</string>
        <string>3333333</string>
        <string>4444444</string>
        <string>5555555</string>
        <string>6666666</string>
        <string>7777777</string>
    </array>
</dict>
</plist>
