<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modifiedDate</key>
	<date>2018-01-04T23:28:21Z</date>
	<key>numbers</key>
	<array>
		<dict>
			<key>label</key>
			<string>Number #1</string>
			<key>number</key>
			<integer>1111111</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>Number #2</string>
			<key>number</key>
			<integer>2222222</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>Number #3</string>
			<key>number</key>
			<integer>3333333</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>Number #4</string>
			<key>number</key>
			<integer>4444444</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>Number #5</string>
			<key>number</key>
			<integer>5555555</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>Number #6</string>
			<key>number</key>
			<integer>6666666</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>Number #6</string>
			<key>number</key>
			<integer>7777777</integer>
		</dict>
	</array>
</dict>
</plist>
